.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  position: absolute;
  top: 27%;
  z-index: -1;
}
.page__container-top {
  margin: 12px;
  margin-top: 4px;
  padding: 30px;
  background: #313d3f;
  color: white;
  border-radius: 4px;
  border: 1px solid black;
  width: 94.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__container-bottom {
  margin: 12px;
  margin-top: 4px;
  padding: 6px;
  background: #313d3f;
  color: white;
  border-radius: 4px;
  border: 1px solid black;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.profile__container {
  border-radius: 10px;
  width: 1000px;
  min-height: 323px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.42);
  background: white;
}

.left__innerCont {
  display: flex;
  margin-right: 5px;
  color: #313d3f;
  font-weight: 550;
}

.right__innerCont {
  display: flex;
  align-self: flex-start;
  align-items: center;
  width: 650px;
  margin-left: 5px;
  color: #313d3f;
  font-weight: 500;
}

.img__section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
}

.name__bio__section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  text-align: left;
  font-size: 15px;
}

.name__input {
  height: 20px;
  width: 155px;
  border-radius: 5px;
}

.bio__input {
  margin-top: 5px;
  width: 250px;
  height: 75px;
  border-radius: 5px;
}

.edit__name__btn {
  display: flex;
  align-self: center;
  background: none;
  border: none;
  height: 15px;
  color: #5dc8dd;
}

.edit__bio__btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  height: 15px;
  color: #5dc8dd;
}

.name__container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.extra__info__section {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  border-radius: 10px;
  width: 850px;
  min-height: 300px;
  border: 1px solid rgba(241, 234, 234, 0.925);
}

.profile__questions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 6px;
  background: #313d3f;
  color: white;
  border-radius: 4px;
  font-weight: 550;
  min-width: 250px;
  margin-top: 20px;
}

.question__box {
  display: inherit;
  justify-content: space-between;
  flex-direction: inherit;
  height: 50px;
  font-size: 12px;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid grey;
  margin-bottom: 4px;
}

.question__title {
    font-size: 18px;
}

.cohort__cont {
  display: inherit;
  justify-content: center;
}

.edit__cohort__btn {
  border: none;
  background: none;
  color: #5dc8dd;
}

.profile__name {
  margin-bottom: 30px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 550;
}

.bio__header {
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}

.profile__bio {
  margin-left: 5px;
  height: 105px;
  overflow-y: scroll;
  font-weight: 500;
}

/* .profile__bio::-webkit-scrollbar {
  display: none;
} */

.save__changes__btn {
  width: 110px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: whitesmoke;
  font-weight: 550;
  background-color: #5dc8dd;
}
