.page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

.cont {
    display: flex;
    justify-content: space-between;
}

.profile__container {
    border-radius: 10px;
    width: 850px;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    padding: 10px;
    box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.42);

}

.left__innerCont {
    display: flex;
    margin-right: 5px;
}

.right__innerCont {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 1000px;
    margin-left: 5px;
}

.img__section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
}

.name__bio__section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin-right: 5px;
    text-align: left;
    font-size: 15px;
}

.edit__name__btn {
    display: flex;
    align-self: center;
    background: none;
    border: none;
    height: 15px;
}

.edit__bio__btn {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 15px;
}

.name__container {
    margin-top: 10%;
    margin-bottom: 10%;
}



.extra__info__section {
    justify-content: space-evenly;
    border-radius: 10px;
    display: flex;
    width: 850px;
    min-height: 300px;
    margin-left: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.459); */
}

.profile__questions {
    font-weight: 550;
    min-width: 250px;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.cohort__cont {
    display: inherit;
    justify-content: center;
}

.profile__name {
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 550;
}

.bio__header {
    margin-left: 5px;
    font-weight: 550;
}

.profile__bio {
    margin-left: 5px;
    height: 105px;
    overflow: scroll;
    box-shadow: 7px 10px 12px -5px rgb(0, 0, 0, 0.42);

}

.save__changes__btn {
    width: 110px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: whitesmoke;
    font-weight: 550;
    background-color: #0084ff;
}