.category-container {
    height: 275px;
    width: 750px;
    display: flex;
    justify-content: space-evenly;
}

.category {
    border: 5px #EFC01A outset;
    width: 125px;
    border-radius: 10px;
}

.category-title {
    font-size: 1.3em;
    font-weight: 650;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #37BA99;
}

.topic {
    margin-top: 6px;
    color: #5DC8DD;
    font-weight: 600;
}