.category-container {
    height: 275px;
    width: 750px;
    display: flex;
    justify-content: space-evenly;
}

.category {
    border: 2px #37BA99 outset;
    width: 125px;
    border-radius: 10px;
    background-image: linear-gradient(to top left, #5DC8DD, #EFC01A);
}

.category-title {
    font-size: 1.3em;
    font-weight: 650;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #313D3F;
}

.topic {
    margin-top: 6px;
    color: #000000;
    font-weight: 600;
}

.topic:hover {
    cursor: pointer;
    color: #0000005b
}

/* #EFC01A */
/* #37BA99 */