.Nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: transparent;
}

.Logo-container {
  width: 20vw;
}

.Logo-container img {
  width: 200px;
}

.Search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  z-index: 1;
}

.Search-container a {
  text-decoration: none;
}

.Search-border {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 400px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
}

.Search-container img {
  margin-left: 5px;
  width: 22px;
}

.Search-input {
  font-size: 16px;
  border: none;
  width: 90%;
  margin-left: 5px;
}

.Nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
}

.nav-actions-container-loggedin {
  position: absolute;
  left: 74.1%;
  height: 48px;
  /* width: 400px; */
  background: #313D3F;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px black solid;
  border-radius: 4px;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
}

.nav-actions-container {
  position: absolute;
  left: 81.99%;
  height: 48px;
  /* width: 400px; */
  background: #313D3F;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px black solid;
  border-radius: 4px;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
}

.tags-dropdown-button {
  color: white;
  font-weight: 700;
  padding: 0px 15px 0px 15px;
}

.tags-dropdown-button:hover {
  cursor: pointer;
  color: black;
}

.tags-container-loggedin {
  position: absolute;
  top: 64px;
  left: 74.1%;
  height: 300px;
  width: 120px;
  z-index: 1;
  background: #313d3f;
  border: 2px black solid;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.tags-container {
  position: absolute;
  top: 64px;
  left: 81.99%;
  height: 300px;
  width: 120px;
  z-index: 1;
  background: #313d3f;
  border: 2px black solid;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.Nav-link-1 {
  color: white;
  font-weight: 700;
  padding: 0px 15px 0px 15px;
}

.Nav-link-1:hover {
  cursor: pointer;
  color: black;
}

.Nav-link-2 {
  color: white;
  font-weight: 700;
  padding: 0px 15px 0px 15px;
}

.Nav-link-2:hover {
  cursor: pointer;
  color: black;
}

.Nav-link-3 {
  color: white;
  font-weight: 700;
  padding: 0px 15px 0px 45px;
}

.Nav-link-3:hover {
  cursor: pointer;
  color: black;
}

.topic-selector {
  color: white;
  font-weight: 700;
}

.topic-selector:hover {
  cursor: pointer;
  color: black;
}