.Nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: transparent;
}

.Logo-container {
  width: 20vw;
}

.Search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
}

.Search-border {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 400px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
}

.Search-container img {
  margin-left: 5px;
  width: 22px;
}

.Search-input {
  font-size: 16px;
  border: none;
  width: 90%;
  margin-left: 5px;
}

.tags-dropdown-button {
  height: 40px;
  width: 120px;
  padding-top: 4px;
  background: #313D3F;
  color: #EFC01A;
  border-radius: 5px;
}

.Nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
}

.tags-container {
  position: fixed;
  top: 100px;
  height: 300px;
  width: 800px;
  background: #313D3F;
  border-radius: 20px;
  border: 6px #F16D6E outset;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .Nav-link {
} */

